<p>which-team works!</p>

<div *ngIf = "team">
    <img src= "https://squiggle.com.au/{{team.logo}}">
</div>

<!--<div *ngFor = "let game of games">
    {{game.hteam}}
</div>-->





<!-- Results for a round of games --> 
<!--<div> 
    <table style="text-align: center;"> 
        <tr><th>Home Team</th><th>Away Team</th><th>Score</th><th>Winner</th></tr> 
            <tr *ngFor="let game of games"> 
                <td>{{game.hteam}}</td> 
                <td>{{game.ateam}}</td> 
                <td>{{game.hscore}}-{{game.ascore}}</td> 
                <td>{{game.winner}}</td>
            </tr> 
    </table> 
</div> -->
