<!--<a routerLink="/SelectTeam" routerLinkActive="active">First Component</a>-->
<div class="d-flex flex-column"> 
  <div class="d-flex flex-row justify-content-around" style="background-color: aquamarine;"><!--Top Title-->
    <h5>AFL Australian football game</h5>
    <div>
      The Australian Football League (AFL) is set<br> 
      to undergo a rebrand, with a team of designers <br>
      reportedly set to develop a new logo for the league.
    </div>
  </div>
   
   
  <div class="text-center"> <!--Logo Image-->
    <img src="assets/AFL-Logo.jpg" width="250px" height="150px">
  
  </div>
  <nav>
    <a routerLink = "/WinPrediction" class = "navButton">WinPrediction</a>
       
  </nav>

  <app-select-team></app-select-team>
</div> 
<router-outlet></router-outlet>